<%- include('../front/header.ejs') %> <%- include('../front/carousel.ejs') %>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-6">
    <div class="col-md-4"></div>
    <h1 class="mt-5">WellCome <%= n %></h1>
    <!-- <h2 class="mt-2"> Email:<%= e %></h2> -->
    <h1 class="mt-3">Register Your Course</h1>
    <p class="me-0">
      Course Registration means the official recording of a student's name to
      study a courses.
    </p>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <img
        src="https://www.sharda.ac.in/blog/wp-content/uploads/2020/07/BTech-in-Computer-Science2.jpg"
        alt=""
        class="img-fluid"
      />
      <h3>B.Tech</h3>
      <p>B.Tech is a professional undergraduate engineering degree</p>

      <% if(b) { %>
      <a href="/front/SingleData2" class="btn btn-success">Display</a>
      <% } else{%>
      <a href="/admin/btech" class="btn btn-info">Register</a>
      <% }%>
    </div>
    <div class="col-md-4">
      <img
        src="https://www.iiitkottayam.ac.in/data/images/ai.jpeg"
        alt=""
        class="img-fluid"
      />
      <h3>M.Tech</h3>
      <p>M.Tech is a post-graduation degree in engineering</p>
      <% if(mt) { %>
      <a href="/front/SingleData3" class="btn btn-success">Display</a>
      <% } else{%>
      <a href="/admin/mtech" class="btn btn-info">Register</a>
      <% }%>
    </div>
    <div class="col-md-4">
      <img
        src="https://blog.mmumullana.org/wp-content/uploads/2018/07/Blog-Creative-MCA.jpg"
        alt=""
        class="img-fluid"
      />
      <h3>M.C.A</h3>
      <p>M.C.A is a post-graduation degree in computer science</p>
      <!-- <button  class="btn btn-info" type="button" href="/admin/regi">Register</button> -->
      <% if(m) { %>
      <a href="/front/SingleData" class="btn btn-success">Display</a>
      <% } else{%>
      <a href="/admin/regi" class="btn btn-info">Register</a>
      <% }%>
    </div>
  </div>
  <div></div>
  
</div>

<br /><br /><br />
  <%- include ('../front/footer.ejs') %>
